<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @accounts.each do |account| %>
  <tr data-link="<%= account_path(account) %>">
    <td><%= account.name %></td>
    <td><%= account.address %></td>
  </tr>
<% end %>
</table>



